templateData:
  site:
    title: 'HTML-Minifier Plugin for DocPad'
plugins:
  htmlmin:
    removeComments: false

    # Enable on the development environment, since we're testing it.
    environments:
      development:
        enabled: true
